footer
  .container-fluid
    p.float-left De Anza Fellowship of Oversea Student. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://hoc5.us/ch/portfolios/students/') 学生团契

