@import "themes/default/variables";

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@ladjs/bootstrap-social/bootstrap-social.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";

@import "themes/default/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 0px;
  margin-bottom: 75px;
  font-size: 14px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  min-height: 30px;
  margin: -15px 15px -15px;
}

.navbar{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  display: block;
}

.navbar-brand{
  font-size: 30px;
  float: left;
}

.navbar-toggler {
  position: relative;
  float: right;
  margin-bottom: 8px;
  margin-top: 8px;
}

.navbar-toggler-icon {
  font-size: 16px;
}

.dropdown-menu {
  left: initial;
  right: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: lightgray;
}

.video-container {
  width: 100%;
  max-height: 1000px;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -100;
}

.video {
  position: absolute;
  z-index: 0;
  background: url(mel.jpg) no-repeat;
  background-size: 100% 100%;
  top: 0px;
  left: 0px; /* fixed to left. Replace it by right if you want.*/
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.top-bot-space {
  padding-top: 30px;
  padding-bottom: 30px;
}

.top-space-xl {
  padding-top: 100px;
}

.row {
  margin-left: 100px;
  margin-right: 100px;
}

.display-3 {
  font-size: 10.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.bg-img {
  background-image: url("../images/home/home.jpg");

  min-height: 800px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

.navbar-light .navbar-nav > li > a {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.2s linear;
  padding-top: 10px;
  padding-bottom: 10px; }

.container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1500px;
}

// button raised definition
// this button uses gradient for the background       
$btn-raised-color: rgb(51, 51, 51);
$btn-raised-background: #f8f8f8;
$btn-raised-border: rgb(204, 204, 204);
$enable-gradients: true;

.btn-raised {
  @include button-variant(
    $btn-raised-background,
    $btn-raised-border,
    $btn-raised-color
  )
}

/*
* Solves Bootstrap 4 issue
* https://github.com/twbs/bootstrap/issues/25654
*/
/* Styles in sm disposition and up */
@media (min-width: 576px) and (max-width: 767px) {
  /* Solves bs4 bug */
  .navbar-expand-md > .container,
  .navbar-expand-lg > .container,
  .navbar-expand-xl > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

/* Styles in md disposition and up */
@media (min-width: 768px) and (max-width: 991px) {
  /* Solves bs4 bug */
  .navbar-expand-lg > .container,
  .navbar-expand-xl > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

/* Styles in lg disposition and up */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Solves bs4 bug */
  .navbar-expand-xl > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

.fab {
  margin-right: 6px;
}

.fas {
  margin-right: 6px;
}

.far {
  margin-right: 6px;
}